# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
01. Intro/.DS_Store
.gitignore
05.PCA/.DS_Store
.gitignore
07. 텍스트분석/.DS_Store
.gitignore
06.군집화/.DS_Store
.gitignore
01. Intro/.DS_Store
.gitignore
08. 추천 시스템/.DS_Store
.gitignore
08. 추천 시스템/data/.DS_Store
ml-latest/.DS_Store
과제/.DS_Store
.gitignore
03.분류/.DS_Store
.gitignore
01. Intro/.DS_Store
07. 텍스트분석/data/.DS_Store
과제/tree1.dot
.gitignore
과제/pima-indians-diabetes.csv
과제/원동찬.html
과제/원동찬_0427_차원축소.html
과제/20220427_원동찬_차원축소.html
과제/01.인공지능 개요.ipynb
과제/0425과제.ipynb
과제/220427_과제1_다중회귀_원동찬.html
과제/220427_과제1_원동찬.ipynb
과제/220427_차원축소_군집화_과제.html
과제/tree.dot
